.card__container {
  gap: 40px;
  flex-wrap: wrap;

  .card {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
    }
    h5 {
      font-size: 18px;
    }
    .block__price {
      gap: 10px;
      flex: 1;      
      
      span {
        font-size: 23px;
      }
      b {
        font-size: 18px;
      }
    }
    .btn {
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
