nav {
  a {
    text-decoration: none;
    color: white;
  }

  div {
    img {
      height: 140px;
    }
  }

  .nav__link {
    font-size: 25px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    &:hover {
      border-bottom: 2px solid red;
    }
  }
  .links {
    gap: 40px;
  }

  .spiderman__icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}
