nav{
    height: 100px;

    div {
        img{
            height: 140px;
        }
    }
    .nav_link {
        font-size: 20px;
        letter-spacing: 2px;
        transition: all .3s ease-in;
        &:hover {
            border-bottom: 2px solid red;
        }
    }
    .links{
        gap: 40px;
    }

   a{ 
        color: white;
        
        .spiderman_icon {
            height: 26px;
            width: 26px;
            cursor: pointer;
        }
    }
}