nav{
    height: 100px;
    div {
        img{
            height: 140px;
        }
    }
    .nav_link {
        font-size: 20px;
        letter-spacing: 2px;
        transition: all .3s ease-in;
        &:hover {
            border-bottom: 2px solid red;
        }
    }
}

.promo_comics {
    background-image: url('../src/assets/img/vn.jpg');
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;

    button{
        background-color: rgb(179,71,43);
        height: 50px;
        width: 180px;
        margin-top: 300px;
        border: none;
        border-radius: 3px;
        color: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            transform: translateX(10px);
        }
    }

}