@import 'macro-css';
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: white;
}

.container {
  max-width: 1400px;
  margin: auto;
}